<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followeds.count, followeds_user_path(user) %></th>
  </tr>
</table>

<!--ゲストユーザーがプロフィール編集不可に-->


<div class='row'>
  <% if user == current_user && user.name != "guestuser" %>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if user.name != "guestuser" %>
      <% if user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(user.id), method: :delete do %>
          <button class="btn btn-info">フォロー外す</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user.id), method: :post do %>
          <button class="btn btn-success">フォローする</button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>